.center {
  --at-apply: fixed -translate-x-50% -translate-y-50% left-50% top-50%;
}

.stack {
  display: grid;
}

.btn {
  --at-apply: py-1 b b-solid b-2px rd-1 b-dark .dark:b-light;
}

.stack>* {
  grid-area: 1/1;
}

.stack-center {
  place-items: center;
}

.stack2 {
  position: relative;
}

.stack2>* {
  position: absolute;
  top: 0;
  left: 0;
}