.center {
  --uno: fixed -translate-x-50% -translate-y-50% left-50% top-50%;
}

.stack {
  display: grid;
}

.btn {
  --uno: bg-transparent b-1px b-solid b-black dark:b-light hover:bg-dark-500/20% c-black dark:c-light rd-1 py-1 transition ease-in;
}

.input {
  --uno: rd-2 decoration-none b-none shadow-md shadow;
}

.stack>* {
  grid-area: 1/1;
}

.stack-center {
  place-items: center;
}

.stack2 {
  position: relative;
}

.stack2>* {
  position: absolute;
  top: 0;
  left: 0;
}