/* "SPIN" ANIMATION */
.spin {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* "scaleout" ANIMATION */
.scale-out-center {
  animation: scale-out-center 0.5s both;
}

.scale-in-center {
  animation: scale-in-center 0.5s both;
}

@keyframes scale-out-center {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* "fade" ANIMATION */
.fade-enter-active {
  animation: fade 200ms;
}

.fade-leave-active {
  animation: fade 200ms reverse;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}