/* spin animation */
.spin {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* fade animation */
.fade-enter-active {
  animation: fade 200ms;
}

.fade-leave-active {
  animation: fade 200ms reverse;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}