html,
body {
    touch-action: pan-x pan-y;
}

/* light mode */
:root {
    --dark: #222222;
    --light: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}

.dark {
    background: var(--dark);
    color: var(--light);
}

input {
    --at-apply: .dark:bg-[(var(--dark))] .dark:text-[(var(--light))];
}

/* disable this to remove the animations */
@media (prefers-reduced-motion: reduce) {

    /* *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
  } */
}