.main-button {
    border: 1px solid currentColor;
    background: var(--white);
    border-radius: 5px;
    transition: background 0.15s ease-in, color 0.15s ease-in;
}

.main-button:hover {
    background: var(--white);
    color: var(--black);
}