.line {
  width: 100%;
  height: 1px;
  margin: 10px 0;
}

.center {
  --at-apply: fixed -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4;
}

button {
  --at-apply: b-none bg-transparent color-current cursor-pointer;
}

p {
  line-height: 1.2em;
}

b {
  font-weight: bold;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  font-size: x-large;
  font-weight: bold;
}

h3 {
  font-size: large;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

button>* {
  pointer-events: none;
  user-select: none;
}

.stack {
  display: grid;
}

.stack>* {
  grid-area: 1/1;
}

.stack-center {
  place-items: center;
}

.stack2 {
  position: relative;
}

.stack2>* {
  position: absolute;
  top: 0;
  left: 0;
}

.svg {
  background: var(--bg) no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  width: 1.2em;
  height: 1.2em;
}

.svg-color {
  mask: var(--bg) no-repeat;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}

.svg-bw {
  mask: var(--bg) no-repeat;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}

.shrink {
  --at-apply: h-0 text-0 w-0 m-0 p-0 border-none;
  transition: 300ms ease-in;
}